pdf_image_extraction_dataset/
pdf-img-extraction-test/
pdf_image_extraction_dataset.zip
scientific-integrity-v8/
dataset/
pdfs/
extraction_time.txt
xfigs/
figures/
.ipynb_checkpoints/
xcaps/
nltk_download/
.env


