pdf_image_extraction_dataset/
pdf-img-extraction-test/
pdf_image_extraction_dataset.zip
scientific-integrity-v8/
dataset/
pdfs/
extraction_time.txt
xp1/
xp2/
xp1_and_xp2/
.ipynb*
selected_figures/
panel_extraction_src/
xfigs/
panel_dataset/
panels_mask/
xcaps/
figures/
caption_extraction/
.ipynb_checkpoints/
xcaps/
nltk_download/
.env


